body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    text-align: center;
}
a {
            text-decoration: none;
            color: inherit;
        }

.cover {
    display: block;
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
}

.cover img {
    width: 100%;
    height: auto;
}

.cover:hover {
    transform: scale(1.05);
    border-color: #333;
}
